* {
  margin: 0;
  padding: 0;
  font-size: 1em;
  font-family: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
}

ol, ul {
  list-style: none;
}

img {
  max-width: 100%;
  height: auto;
}

.card {
  border: 1px solid #d3d3d3;
  border-radius: .25rem;
}

.content {
  padding: 15px;
}

button {
  background-color: transparent;
  border: 1px solid #2196F3;
  padding: .5rem 1rem;
  cursor: pointer;
  border-radius: .25rem;
}

.container {
  display: grid;
}